.consultation {
    min-height: 680px;
    background: url('../img/bg/bg_2.jpg') center center/cover no-repeat;
    padding: 100px 0 92px 0;
    &__descr {
        margin-top: 18px;
        color: $white-color;
        font-weight: 500;
        font-size: 20px;
        text-align: start;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        font-size: 12px;
        color: $white-color;
        border: none;
        text-align: center;
        margin-bottom: 7px;
    }
}